{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": "current",
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "ie 11"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/transform-runtime"
    ],
    "env": {
        "development": {
            "sourceMaps": "both",
            "retainLines": true
        }
    }
}